.fruver-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    float:left;
    width:200px;
    padding-left: 20px;
  }

  .menu{
    background-color: #c2f4a1;
    min-height: 100px;
    padding: 0;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);     
    }

    .menu a{
      min-height: 200px;
      padding: 14px 16px; 
      color: #244b0a;
    }

    .menu a:hover{
      background-color: rgb(183, 248, 63);
    }