.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-text-1 {
  margin: 41px 438px 0 398px;
  align-content: center;
}

.u-section-1 .u-product-1 {
  min-height: 486px;
  height: auto;
  width: 850px;
  margin: 9px -14px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 0 5px;
}

.u-section-1 .u-gallery-1 {
  width: 523px;
  height: 407px;
  margin: 25px auto 0 30px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-left: 20px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  background-image: none;
  right: 120px;
}

.u-section-1 .u-text-2 {
  margin: -141px 19px 0 458px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px 98px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -378px 41px 0 auto;
}

.u-section-1 .u-product-price-1 {
  margin: 39px 190px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 25px 215px 0 auto;
}

.u-section-1 .u-accordion-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 305px;
    margin-left: 298px;
    margin-right: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 188px;
    margin-right: 228px;
  }

  .u-section-1 .u-product-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 347px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-product-price-1 {
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 98px;
    margin-right: 138px;
  }

  .u-section-1 .u-product-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 167px;
  }

  .u-section-1 .u-product-price-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 161px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 36px;
  }

  .u-section-1 .u-product-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 101px;
  }
}